/*=================================================
Font Family     : Roboto Condenced (Google Fonts)

Greenish Blue   : #34c6d3       (Buttons, icons, links, lines & background)
Steel Gray      : #41464b       (Headline)
Blue Bayoux     : #64707b       (Paragraphs)
White           : #fff          (Text with black background)
Black           : #000
=================================================*/

/*=================================================
                    General 
=================================================*/

html, body {
/* html & body are perant elements */
    height: 100%;
    /* set below 100%: home work area decreases.
    set at 100%: home work area uses full area.
    set above 100%: scroll down till you reach website massages.*/
}

body {
    font-family: "Roboto Condensed", sans-serif;
    /* sets font for the website "," if first font is unavailable*/
}

p {
/* the <p> tag defines a paragraph. 
default paragraph settings*/
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

h3 {
/* the <h1> to <h6> tags are used to define HTML headings. 
default heading settings*/
    color: #41464b;
    text-transform: uppercase;
}

/*=================================================
                Paraliax (Gerneric)
=================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
        /* so that image covers as much as posible */
    background-position: center;
    background-attachment: fixed;
}

/*=================================================
                Buttons (btn) (Gerneric)
=================================================*/

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
        /* the CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
        /* bug set to wrong setting "captilize" */
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover, .btn-white:focus {
        /* button effect for "btn-white" button when over it */
    background-color: #fff;
    color: #41464b;
}

.btn-blue {
        /* button effect for "btn-blue" copied from up top */
    border-color: #34c6d3 ;
    color: #34c6d3 ;
}

.btn-blue:hover, .btn-blue:focus {
        /* button effect for "btn-blue" button when over it */
    background-color: #34c6d3;
    color: #fff;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    display: none;
}

/*=================================================
                Social Icons (Gerneric)
=================================================*/

.social-list {
    padding-left: 0;
}

.social-list li {
        /* accses list items inside social-list */
    list-style: none;
        /* removes list bullets */
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 17px;
}

.icon-gray i {
    color: #64707b;
}

.icon-gray i:hover {
    color: #34c6d3;
}

.icon-white i {
    color: #fff;
}

.icon-white i:hover {
    color: #34c6d3;
}

/*=================================================
                Content Classes (Gerneric)
=================================================*/

.content-box {
    padding: 60px 0 60px 0px;
        /* spacing between sections in services section */
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-white h3 {
    color: white;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}

/*=================================================
                HOME SECTION
=================================================*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
        /* have to set html and body and home equall to 100% so that home-cover can be set to 100% so the home image can be seen corectly */
    background-image: url(../img/bg-home.jpg);
        /* .. becouse we have to go back out to the img folder */
}

#home-content-box {
    width: 100%;
    height: 100%;
        /* home content-box working area allowed for it and and all its contents (test, images etc)*/
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-heading h3 {
/* settings for the text "WATCH OUT THE MODERN RESPONSIVE WEBSITE!"*/
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

/* Animation delays and durations for home section only*/

home-cover, #home-heading, #home-btn {
    animation-duration: .5s;
}

#home-cover {
    animation-delay: .1s;
}

#home-heading {
    animation-delay: .5s;
}

#home-btn {
    animation-delay: 1s;
}

/*=================================================
                SERVICES SECTION
=================================================*/

.service-item {
    padding: 20px 0px 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
        /* changes curcor to ponter */
}

.service-item-icon i {
/* The <i> tag can be used to indicate a technical term, a phrase from another language, a thought, or a ship name, etc. */
/* icon settings */
    color: #34c6d3;
        /* icon color */
    float: left;
        /* location of icon "object" in relation to text and header inside service-item */
    padding: 15px;
    margin-right: 25px;
        /* space between icon "object" and text and header inside service-item */
    width: 75px;
    height: 75px;
    text-align: center;
        /* centers icon into center */
}

.service-item:hover .service-item-icon i {
        /* button effect for "service-item-icon" button when over it */
    color: #fff;
    background-color: #34c6d3;
}

.service-item-title h3 {
/* the <h1> to <h6> tags are used to define HTML headings. */
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p {
/* the <p> tag defines a paragraph. */
    margin: 0;
    padding-left: 85px;
}

/*=================================================
                ABOUT SECTION
=================================================*/

#about-bg-diagonal {
/* about section image */
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(../img/bg-about.jpg);
    margin-left: 30px;
    border-left: 200px solid #fff;
    border-top: 700px solid transparent;
}

#about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
        /* 100% so it takes up all of the space in its parent element "about-content-box" */
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
        /* used these 3 content elemets the same way in home section */
    display: table-cell;
    vertical-align: middle;
}

#about h3 {
        /* targeting h3 element inside the about section */
    text-align: left;
}

#about .content-title-underline {
        /* targeting content-title-underline element inside the about section */
    margin: 0 0 30px 0;
}

#about-desc p {
        /* added space between button and paragrapgh */
    margin-bottom: 30px;
}

/*=================================================
                WORK SECTION
=================================================*/

.row.no-gutters [class*=col-] {
    /* "class*=col-" selects all colums inside the row */
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper {
    /* hide zoom overflow */
    overflow: hidden;
}

.img-wrapper img {
    /* smooth in smooth zoom effect */
    transition: transform .5s ease;
}

.img-wrapper img:hover {
    /* zoom effect on image when hovered over */
    transform: scale(1.5);
    cursor: zoom-in;
}

/*=================================================
                TEAM SECTION
=================================================*/

.team-member {
    margin: 0 15px;
    
}

.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 20px;
}

h4.team-member-designation {
    color: #34c6d3;
    font-size: 15px;    
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}

/*=================================================
                TESTIMONIALS SECTION
=================================================*/

#testimonials-cover {
    background-image: url(../img/bg-testimonials.jpg);
}

#testimonials .content-box {
    background-color: rgba(0,0,0,0.1)
}

#customers-testimonials {
    padding: 50px 0;
}

.testimonial img {
    max-width: 120px;
    margin: 0 auto 0 auto;
}

.testimonial blockquote {
    border: 0;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: white;
        /* white color is not inharited to <p> */
    padding: 6px 150px;
    position: relative;
}

.testimonial blockquote p {
    color: white;
}

.testimonial blockquote::before, .testimonial blockquote::after {
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;

}

.testimonial blockquote::before {
    content: "\201C";
    top: 0;
    left: 100px;

}

.testimonial blockquote::after {
    content: "\201D";
    bottom: 0;
    right: 100px;

}

.testimonial-author p {
    color: white;
    font-size: 17px;
}

.testimonial-author p strong {
    display: block;
}

/*=================================================
                PRICING SECTION
=================================================*/

.pricing-box {
    border: 3px solid #34c6d3;
    padding: 50px 0;
    margin: 40px 0;
}

h4.pricing-title {
    background-color: #34c6d3;
    color: white;
    display: inline-block;
        /* blue block reduced down to only sorounding text */
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

h3.pricing-value {
    font-size: 60px;
    font-weight: 700;
}

h3.pricing-value sup {
    font-size: 28px;
    font-weight: normal;
    vertical-align: super;
}

ul.pricing-specification {
    list-style: none;
    padding-left: 0;
    margin: 20px 0 60px 0;
}

ul.pricing-specification li p {
    font-weight: 400;
    text-transform: uppercase;
}

.pricing-box-lg {
    padding: 90px 0;
    margin: 0;
    background-color: #34c6d3;
}

.pricing-box-lg h4.pricing-title {
    color: #34c6d3;
    background-color: white;
}

.pricing-box-lg ul.pricing-specification li p {
    color: white;
}

/*=================================================
                STATS SECTION
=================================================*/

#stats-cover {
    background-image: url(../img/bg-stats.jpg);
}

#stats .content-box {
    background-color: rgba(0,0,0,0.8);
}

.stats-item {
    padding: 100px 0;
}

.stats-item i {
    color: #34c6d3
}

.stats-item h2 {
    color: white;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}

.stats-item p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
}

/*=================================================
                CLIENT SECTION
=================================================*/

.client {
    padding: 40px 0;
}

/*=================================================
                CONTACT SECTION
=================================================*/

footer {
    background-color: #41464b;
    padding-top: 30px;
    border-top: 5px solid rgba(0,0,0,0.1)
}

#contact-left h3, #contact-right h3 {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

#contact-left p {
    color: #fff;
    margin-bottom: 30px;
}

#contact-info {
    background-image: url("../img/world-map.png");
    background-repeat: no-repeat;
    background-size: contain;
        /* image is scaled up to contain area */
}

address {
    color: #fff;
}

address strong {
    font-size: 16px;
}

address strong, #phone-fax-email {
    letter-spacing: 1px;
}

form .form-control {
    background: transparent;
    border-radius: 0;
    border-color: white;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: white;
}

/*=================================================
                FOOTER SECTION
=================================================*/

#footer-bottom {
    background-color: rgba(0,0,0,0.1);
    padding: 30px 0px;
    margin-top: 60px;
}

#footer-copyrights p {
    margin: 0;
    color: #fff;
}

#footer-menu {
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    
}

#footer-menu ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li {
    display: inline-block;
}

#footer-menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #34c6d3;
}

/*=================================================
                NAVIGATION SECTION
=================================================*/

.navbar {
    padding: 20px 0;
    transition:  all .5s ease-in-out;
        /* responsible for smooth transformation of the menu bar */
}

.vesco-top-nav{
    background: rgba(0,0,0,0.7);
    padding: 7px 0;
}

.vesco-nav-wrapper {
    padding: 0 85px;
}

.navbar-nav {
    float: right;
}

.navbar-nav > li > a {
    /* ">" child operator, lookk for child elements */
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    /* ">" child operator, lookk for child elements */
    background: none;
    color: #34c6d3;
}

.navbar-toggle {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #fff;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-collapse {
    max-height: none !important;
}

.vesco-top-nav ul.navbar-nav > li.active > a {
    color: #34c6d3;
}






































